    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(236, 234, 234, 0.548);



    }


    main {
        margin: 80px auto;

        max-width: 768px;
        background-color: #fcd22838;
        border-radius: 5px;
        position: relative;
        margin-bottom: 0;



    }

    main #pedido {
        display: flex;
        flex-direction: column;
    }


    header {

        color: black;
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        height: 60px;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 1000;
        background-color: #f4f4f3
    }

    header a {
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        position: relative;
        color: black;
        font-weight: bold;
        text-transform: uppercase;

    }

    header a:hover {
        color: white;
        background-color: #F0B526;
        border-radius: 10px;
        padding: 10px;


    }

    .select-past {
        color: white;
        background-color: #F0B526;
        border-radius: 10px;
        padding: 10px;
    }

    .select-bbd {
        color: white;
        background-color: #F0B526;
        border-radius: 10px;
        padding: 10px;

    }

    .select-pedido {
        color: white;
        background-color: #F0B526;
        border-radius: 10px;
        padding: 10px;
    }

    #bebidas,
    #pasteis {
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;


    }

    .produto-single-past,
    .produto-single-bbd {
        position: relative;
        margin: 10px;
        padding: 30px 20px;
        width: 150px;
        max-width: 150px;
        max-height: 30vh;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 10px;

    }

    .produto-single-past:hover,
    .produto-single-bbd:hover {
        transition: 0, 8s;
        background-color: #F0B526;
        color: #BD6E00;


    }

    .clicavel-bbd,
    .clicavel-past {
        text-align: center;
        font-weight: bold;

    }


    .clicavel-past img {
        width: 180px;
        height: 150px;
        border-radius: 10px;


    }

    .clicavel-bbd img {
        max-width: 100px;
        max-height: 150px;
        border-radius: 10px;


    }



    .produto-single p {
        margin: 0;
        padding: 10px 0;
        white-space: pre-wrap;
        cursor: pointer;
    }


    .quantidade {
        background-color: rgb(75, 157, 233);
        color: white;
        padding: 5px 10px;
        border-radius: 25px;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: bold;
        visibility: hidden;
    }

    .diminuir-qtd {
        background-color: rgb(255, 42, 5);
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 25px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-weight: bold;

    }

    .pd_pasteis,
    .pd_bebidas {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        max-width: 80%;





    }

    .pd_pasteis .nome_pd,
    .pd_bebidas .nome_pd {
        position: absolute;
        left: 100px ;
        padding: 0;
        margin: 0;
      
       
    }

    .pd_pasteis .qtd_pd,
    .pd_bebidas .qtd_pd {
        
        position: absolute;
        left: 50%;
        display: flex;
        align-items: center;

    }

    .pd_pasteis .totais,
    .pd_bebidas .totais {
        
        position: absolute;
        left: 80%;
        font-weight: bold;
        
       


    }

    .pd_pasteis img {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin: 0 30px 0 10px;


    }

    .pd_bebidas img {
        width: 50px;
        height: 75px;
        margin: 0 30px 0 20px;
    }

    input {

        margin: 0;
        padding:0;
        width: 30px;
        font-size: 15px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-weight: bold;

        text-align: center;
    }

    #somaTotal {
        display: flex;
        position: fixed;
        top: 80vh;
        font-size: 20px;
        font-weight: bold;
        background-color: #F0B526;
        padding: 0 15px;
        margin-left: 70px;
        left: 80vw;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        

    }

    
      
    .qtd_pd  {
        margin: 0;
        padding: 0 15px;
        width: 60px;
        height: 25px;
        display: flex;
        flex-direction: row; /* Orientação dos itens horizontalmente */
        justify-content: center;
        align-items: center;
        border: 0.5px solid black;
        background-color: rgba(255, 225, 92, 0.521);
        border-radius: 3px;
        
    }
   
    @media only screen and (max-width: 1078px){
        
           
    
   #somaTotal {
    
    
        
     width: clamp(0px, 100%, 740px);
        
        bottom: 0;
    
        height: 60px;
        left: auto;
        border-radius: 0;
        margin: 0;
        display: flex;
        top: auto;
      
    }
    .totalGeral{
        display: flex;
        justify-content: center;
        left: 100%;
     
        
    }
    main{
       
       display: block;
        margin-bottom: 50px;
        min-width: 565px;

       
    }
    .clicavel-past img {
        width: 140px;
        height: 100px;
        border-radius: 10px;


    }

    .clicavel-bbd img {
        max-width: 60px;
        max-height: 110px;
        border-radius: 10px;
    

}
.produto-single-past,
.produto-single-bbd {
   
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 0 20px;
  
    }
   
        
    }
